/* anybody-regular - latin */

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/anybody-v11-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* anybody-500 - latin */

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/anybody-v11-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* anybody-800 - latin */

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/anybody-v11-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anybody';
    background-color: #F4D04E;
}

html {
    font-size: 62.5%;
}

.container {
    margin: 10rem auto;
    max-width: 40rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #F4D04E;
}

.content {
    max-width: 38.4rem;
    width: 100%;
    padding: 2.4rem;
    border: 1px solid #000;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 13px 13px 0px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 13px 13px 0px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 13px 0px -6px rgba(0, 0, 0, 0.75);
}

.content__body {
    padding: 1rem 0;
}

.content__type__text {
    max-width: 8.8rem;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 2.1rem;
    border-radius: 5px;
    padding: 4px 1.2rem;
    background-color: #F4D04E;
}

.content__date {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    color: #111111;
    padding: 1.2rem 0;
}

.content__link {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 3.6rem;
}

.content__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: #7F7F7F;
    padding: 1.2rem 0;
}

.content__user {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px 0;
}

.content__username {
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 2.1rem;
}

@media screen and (max-width:400px) {
    .container {
        padding: 0 1rem;
    }
    .content {
        max-width: 32.7rem;
        width: 100%;
    }
    .content-image {
        max-width: 27.9rem;
        width: 100%;
    }
    .content__description {
        font-size: 1.4rem;
    }
    .content__date {
        font-size: 1.2rem;
    }
    .content__link {
        font-size: 2rem;
    }
}